setTimeout(() => {

document.querySelector('.submit-btn').innerHTML = 'Check availability';
}, 500)
$('#reservation-form-messages .alert').remove();

<% if @reservation.save %>
  $('form').trigger('reset');
  $('#reservation-form-messages').append(
    '<div class="alert alert-success">' +
    'Your request has been sent.' +
    ' Please check your email.' +
    '</div>'
  );
<% else %>
  var reservation_errors;

  reservation_errors = '<div class="alert alert-danger">' +
                         'You have errors, please correct the following:' +
                         '<ul>' +
                           <% @reservation.errors.full_messages.each do |msg| %>
                             '<li><%= msg %></li>' +
                           <% end %>
                         '</ul>' +
                        '</div>'

  setTimeout(() => {
    $('#reservation-form-messages').append(reservation_errors);
  }, 500)
<% end %>
