<p>Hi <%= @reservation.name %>,</p>

<p>Your booking request has been <b>confirmed</b>. We look forward to seeing you soon.</p>

<p><b>Your booking:</b></p>
<p>Guests: <%= @reservation.number_of_guests %></p>
<p>Check in: <%= @reservation.date_time.strftime('%B %-d, %Y %I:%M %P') %></p>
<p>Check out: <%= @reservation.end_date_time.strftime('%B %-d, %Y %I:%M %P') %></p>
