<p>Hi <%= @reservation.name %>,</p>

<p>Your booking request has been <b>confirmed</b>. We look forward to seeing you soon.</p>

<p><b>Your booking:</b></p>
<p><%= @reservation.name %></p>
<p><%= @reservation.number_of_guests %> people</p>
<p><%= @reservation.date_time.strftime('%B %-d, %Y %I:%M %P') %></p>
