<!-- Start Footer -->
<footer id="mu-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="mu-footer-area">
        <div class="mu-footer-social">
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-youtube"></span></a>
          <a href="#"><span class="icon-linkedin2"></span></a>
          <a href="#"><span class="icon-google-plus2"></span></a>
        </div>
        <div class="mu-footer-copyright">
          <p>&copy; <%= Date.current.year %> Copyright <%= link_to "Italian Cuisine", root_path %>. All right reserved.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
