<!-- Start Footer -->
<footer id="mu-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="mu-footer-area">
        <div class="newsletter-area">
          <p>Subscribe to our newsletter!</p>
          <%= form_tag subscribers_path, remote: true, id: 'newsletter_form' do %>
            <%= email_field_tag 'subscribers[email]', nil, class: 'form-control' %>
            <div id='email_validation_msg'>
            </div>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
        <div class="mu-footer-social">
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-youtube"></span></a>
          <a href="#"><span class="icon-linkedin2"></span></a>
          <a href="#"><span class="icon-google-plus2"></span></a>
        </div>
        <div class="mu-footer-copyright">
          <p>&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right reserved.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
